{% extends "layouts.html" %}
{% from 'macros.html' import displaySeat, displaySeats with context %}

{% block title %}Sparrow Airlines - Seat Selection{% endblock %}

{% block content %}
    <main class="seatsMain">
        <br>
        <div class="container">

            <div class="card">
                <div class="row card-header bg-accent mb-5">

                    <div class="col-md-2 pl-2">
                        <h2 class="card-title">ATL </h2>
                        <p>Atlanta</p>
                    </div>
                    <div class="col-md-2">
                        <h1> &gt;</h1>
                    </div>
                    <div class="col-md-2">
                        <h2 class="card-title">SLC</h2>
                        <p>Salt Lake City</p>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>

                </div>

                <div class="card-body">

                    <div class="row seatSelector">

                        <div class="col-sm-5">
                            <h3>Seat Selector:</h3>
                            <div class="plane">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="box"><i class="fas fa-restroom"></i></div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-5">
                                        <div class="box"><i class="fas fa-utensils"></i></div>

                                    </div>

                                </div>
                                <p><i class="fas fa-caret-left"></i> Exit</p>
                                <p>----First Class----</p>

                                {{ displaySeats(seats, 'First') }}

                                <p>----Business Class----</p>

                                {{ displaySeats(seats, 'Business') }}


                                <p>----Economy Class----</p>

                                {{ displaySeats(seats, 'Economy') }}
                                <br>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="box"><i class="fas fa-restroom"></i></div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-5">
                                        <br><br>
                                        <p>Exit <i class="fas fa-caret-right"></i></p>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-7">
                            <h3>Your seats:</h3>

                            <table class="seatTable table-hover">
                                <tr>
                                    <th>Seat Number</th>
                                    <th>Seat Class</th>
                                    <th>Price</th>
                                    <th>Delete</th>
                                </tr>
                                {% for seat in seats %}
                                    <tr>

                                        {% if(seat['isOpen'] == 0) %}
                                            <td>{{ seat['row'] }}{{ seat['aisle'] }}</td>
                                            <td>{{ seat['seatClass'] }}</td>
                                            <td>${{ seat['price'] }}</td>
                                            <td>
                                                <a class="text-danger"
                                                   href="{{ url_for('seats', action= 'unassign', seat_id=seat['id']) }}">
                                                    X</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {#                                <p>Total Seats: {{ count($userSeats)}}</p>#}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </main>

{% endblock %}