{% extends "layouts.html" %}

{% block title %}Sparrow Airlines - Seat Selection{% endblock %}



{% block content %}
<main class="trip">
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header bg-accent text-white">
                <div class="row">
                    <div class="custom-column-md pl-2">
                        <h2 class="card-title">ATL </h2>
                        <p>Atlanta</p>
                    </div>
                    <div class="custom-column-sm">
                        <h1> &gt;</h1>
                    </div>
                    <div class="custom-column-md">
                        <h2 class="card-title">SLC</h2>
                        <p>Salt Lake City</p>
                    </div>
                </div>

            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <p>----First Class----</p>
                        <div class="row seats">
                            <div class="col-md-2">A</div>
                            <div class="col-md-2">B</div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">C</div>
                            <div class="col-md-2">D</div>
                            <div class="col-md-2"></div>

                            {% for seat in seats %}
                                    <div class="col-md-4 col-sm-12 want-book">
                                        {{ seat['row'] }}{{ seat['aisle'] }}

                                    </div>
                            {% endfor %}


          {#  <?php $count = 0 ?>
                            @foreach($seatsFirst as $seat)
                                <div class="col-md-2">

                  <?php $count++  ?>

                                    @if($seat->isOpen == 0)
                                        <div class="occupied">{{$seat->aisle }}{{ $seat->row }}</div>
                                    @else
                                        <div class="open"><a class="tool"
                                                             title=" {{\App\Http\Controllers\SeatController::getSeatType($seat->seatTypeId)->name}}
                                                                     {{$seat->aisle}}{{$seat->row}}
                                                                     ${{$seat->price }}  "
                                                             href="{{ route('passenger.seat.assign', ['id' => $seat->id, 'isOpen' => 0]) }}">{{$seat->aisle }}{{ $seat->row }}</a>
                                        </div>
                                    @endif
                                </div>
                                @if($seat->aisle == 'B')
                                    <div class="col-md-2">{{$seat->row}}</div>
                                @endif
                                @if($seat->aisle == 'D')
                                    <div class="col-md-2"></div>
                                @endif
                            @endforeach
                        </div>

                        <p>----Deluxe Class----</p>

                        <div class="row seats deluxe">
                            <div class="col-md-2">A</div>
                            <div class="col-md-2">B</div>
                            <div class="col-md-2">C</div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">D</div>
                            <div class="col-md-2">E</div>
                            <div class="col-md-2">F</div>

                            @foreach($seatsDeluxe as $seat)
                                <div class="col-md-2">
                                    @if($seat->isOpen == 0)
                                        <div class="occupied">{{$seat->aisle }}{{ $seat->row }}</div>
                                    @else
                                        <div class="open"><a
                                                    title=" {{\App\Http\Controllers\SeatController::getSeatType($seat->seatTypeId)->name}}
                                                    {{$seat->aisle}}{{$seat->row}}
                                                            ${{$seat->price }}  "
                                                    href="{{ route('passenger.seat.assign', ['id' => $seat->id, 'isOpen' => 0]) }}">{{$seat->aisle }}{{ $seat->row }}</a>
                                        </div>
                                    @endif
                                </div>
                                @if($seat->aisle == 'C')
                                    <div class="col-md-2">{{$seat->row}}</div>
                                @endif
                            @endforeach
                        </div>

                        <p>----Economy Class----</p>

                        <div class="row seats economy">
                            <div class="col-md-2">A</div>
                            <div class="col-md-2">B</div>
                            <div class="col-md-2">C</div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">D</div>
                            <div class="col-md-2">E</div>
                            <div class="col-md-2">F</div>

                            @foreach($seatsEconomy as $seat)
                                <div class="col-md-2">
                                    @if($seat->isOpen == 0)
                                        <div class="occupied">{{$seat->aisle }}{{ $seat->row }}</div>
                                    @else
                                        <div class="open"><a
                                                    title=" {{\App\Http\Controllers\SeatController::getSeatType($seat->seatTypeId)->name}}
                                                    {{$seat->aisle}}{{$seat->row}}
                                                            ${{$seat->price }}  "
                                                    href="{{ route('passenger.seat.assign', ['id' => $seat->id, 'isOpen' => 0]) }}">{{$seat->aisle }}{{ $seat->row }}</a>
                                        </div>
                                    @endif
                                </div>
                                @if($seat->aisle == 'C')
                                    <div class="col-md-2">{{$seat->row}}</div>
                                @endif
                            @endforeach
                        </div>






                    </div>
                    <div class="col-md-8">
                        Your seats:

                        @foreach($userSeats as $uSeats)
                            <a href="{{ route('passenger.seat.assign', ['id' => $uSeats->id, 'isOpen' => 1])}}">
                                {{$uSeats->aisle}}{{$uSeats->row}}
                            </a>
                        @endforeach
                        <p>Total Seats: {{count($userSeats)}}</p>
                    </div>
                </div>#}
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
</main>

{%  endblock %}